<div class="my-blog">

	<section class="bg-img header main-header-art fadeIn">
		<div class="container">
			<div class="row">
			<div class="col-sm-12">
				<div class="main-intro-box">
				<div class="intro">
					<h1>Blog</h1>
					<p>Write my heart to you</p>
				</div>
				</div>
			</div>
			</div>
		</div>
	</section>

	<section class="container pad_top15px">
		<div class="row">
			<div class="col-md-12">
				<h2 class="blog-art-title">
					Famous Arts
				</h2>
				<div class="row">

					<art-intro-item ng-repeat="data in artInfo" data="data"></art-intro-item>

				</div>
			</div>
		</div>
	</section>

</div>