<div class="my-music">

	<section class="bg-img header main-header-music fadeIn">
		<div class="container">
			<div class="row">
			<div class="col-sm-12">
				<div class="main-intro-box">
				<div class="intro">
					<h1>Music</h1>
					<p>Return lies within hasty keys</p>
				</div>
				</div>
			</div>
			</div>
		</div>
	</section>

	<section class="container pad_top15px">
		<div class="row">
			<div class="col-md-12">
				<h2 class="blog-music-title">
					Music Journey
				</h2>
				<div class="row">

					<art-intro-item ng-repeat="data in artInfo" data="data"></art-intro-item>

				</div>
			</div>
		</div>
	</section>

</div>