<div class="music-box-wrapper" style="background-color: rgb(128, 96, 128);">
	<div class="music-box">
		<section class="music-box-content">
			<div class="music-box-normal">
				<section class="music-box-toolbar">
					<a class="tool-btn" href="javascript:;">
						<i class="fa fa-heart-o"></i>
						收藏
					</a>
					<a class="tool-btn" href="javascript:;">
						<i class="fa fa-music"></i>
						下载
					</a>
					<a class="tool-btn" href="javascript:;">
						<i class="fa fa-trash-o"></i>
						删除
					</a>
					<a class="tool-btn" href="javascript:;">
						<i class="fa fa-minus-square-o"></i>
						清空列表
					</a>
				</section>
				
				<section class="main-menu-wrapper">
					<div class="main-menu">
						<table class="menu-table">
							<thead>
								<tr>
									<th>歌曲</th>
									<th>歌手</th>
									<th>时长</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" class="current-song">
									<td>
										<span class="inner-index">{{i}}</span>
										心之眼的蛤
										<div class="inner-tool-wrapper">
											<a href="javascript:;" title="播放"><i class="inner-tool-btn inner-play"></i></a>
											<a href="javascript:;" title="添加"><i class="inner-tool-btn inner-add"></i></a>
											<a href="javascript:;" title="下载"><i class="inner-tool-btn inner-download"></i></a>
										</div>
									</td>
									<td>G.E.M.邓紫棋</td>
									<td><span class="inner-time">02:29</span><a href="javascript:;" title="删除"><i class="inner-delete"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

				<section class="song-info">
					
				</section>
			</div>
		</section>
		<section class="music-box-control">

		</section>
	</div>
	<div class="music-box-mask"></div>
	<div class="music-box-bg"></div>
</div>