<div class="my-music">

	<section class="bg-img header main-header-music fadeIn">
		<div class="container">
			<div class="row">
			<div class="col-sm-12">
				<div class="main-intro-box">
				<div class="intro">
					<h1>Music</h1>
					<p>Return lies within hasty keys</p>
				</div>
				</div>
			</div>
			</div>
		</div>
	</section>

	<section class="container pad_top15px">
		<div class="row">
			<div class="col-md-12">
				<h2 class="blog-music-title">
					Music Journey
				</h2>
			</div>
		</div>
	</section>

	<section class="container-fluid">
		<div class="row">

			<div class="music-content-bg">	
				<div class="container music-inner">
					<div class="row">
						<div class="music-inner-title container">
							<div class="row">
								<span class="music-inner-line col-xs-2"></span>
								<h2 class="col-xs-8">Soul Melody</h2>
								<span class="music-inner-line col-xs-2"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="music-list-wrapper col-xs-12">
							<ul class="music-list row">
								<li class="music-list-item col-sm-6 col-md-3">
									<div class="music-content">
										<div class="music-item-bg"></div>
										<i class="music-item-mask"></i>
										<i class="music-play-icon"></i>
									</div>
								</li>
								<li class="music-list-item col-sm-6 col-md-3">
									<div class="music-content">
										<div class="music-item-bg"></div>
										<i class="music-item-mask"></i>
										<i class="music-play-icon"></i>
									</div>
								</li>
								<li class="music-list-item col-sm-6 col-md-3">
									<div class="music-content">
										<div class="music-item-bg"></div>
										<i class="music-item-mask"></i>
										<i class="music-play-icon"></i>
									</div>
								</li>
								<li class="music-list-item col-sm-6 col-md-3">
									<div class="music-content">
										<div class="music-item-bg"></div>
										<i class="music-item-mask"></i>
										<i class="music-play-icon"></i>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>

</div>