<div id="menu-item" class="menu-item hide-menu">
  <div class="container">
    <ul>
      <a href="index.html">
        <li>home</li>
      </a>
      <a href="#about">
        <li>about</li>
      </a>
      <a href="#expertise">
        <li>expertise</li>
      </a>
      <a href="#workstation">
        <li>workstation</li>
      </a>
      <a href="#team">
        <li>team</li>
      </a>
      <a href="#contact">
        <li>contact</li>
      </a>
      <a href="elements.html">
        <li>Elements</li>
      </a>
    </ul>
  </div>
</div>

<div class="main">
  <header class="bg-img header">
    <nav class="navbar navbar-default navbar-vira">
      <div class="container">
        <div class="navigation-bar">
          <div class="row">
            <div class="col-xs-6">
              <div class="logo">
                <a href="index.html"><span class="fa fa-viacoin"></span></a>
              </div>
            </div>
            <div class="col-xs-6 text-right">
              <div class="menu m">
                <a href="#"><span class="_ion-android-menu ion-navicon"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="intro-box">
          <div class="intro">
            <h1>We are vira agency</h1>
            <p>Creative digital agency based in US</p>
            <a class="btn vira-btn" href="#">Explore us</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="adcenter">
    <!--<script src="http://www.cssmoban.com/include/new/ggad2_728x90.js"></script>-->
  </div>
  <section id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="title">About agency</h2>
          <p>
            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zich meebrengt. Onze
            enige missie is dat jij de best geklede man van de omgeving bent. Laat gratis een op eden box samenstellen door
            je personal shopper en betaal.
          </p>
          <img src="/signature.png">
          <span>Vira Studio-ceo</span>
        </div>
      </div>
    </div>
  </section>
  <section class="purpose section">
    <div class="container">
      <h2 class="title">What we do</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="vira-card">
            <div class="vira-card-header">
              <div class="card-icon">
                <span class="fa fa-diamond" aria-hidden="true"></span>
              </div>
            </div>
            <div class="vira-card-content">
              <h3>Digital Design</h3>
              <p>
                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                enige missiede
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="vira-card">
            <div class="vira-card-header">
              <div class="card-icon">
                <span class="fa fa-cogs" aria-hidden="true"></span>
              </div>
            </div>
            <div class="vira-card-content">
              <h3>Web Development</h3>
              <p>
                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                enige missiede
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="vira-card">
            <div class="vira-card-header">
              <div class="card-icon">
                <span class="fa fa-bicycle" aria-hidden="true"></span>
              </div>
            </div>
            <div class="vira-card-content">
              <h3>Digital Marketing</h3>
              <p>
                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                enige missiede
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="expertise" class="expert">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 bg-img">
          <div style="height: 540.8px;"></div>
        </div>
        <div class="col-sm-5 section">
          <h2 class="title">Responsive design expert</h2>
          <div id="expert-slider" class="owl-carousel owl-theme owl-loaded">


            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(-1146px, 0px, 0px); transition: 0s; width: 3438px;">
                <div class="owl-item cloned" style="width: 573px; margin-right: 0px;">
                  <div class="item">
                    <p>
                      Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy
                      foster collaborative thinking to further the overall proposition. Organically grow the holistic world
                      view of disruptiveinnovationvia workplace diversity and empowerment.
                    </p>
                  </div>
                </div>
                <div class="owl-item cloned" style="width: 573px; margin-right: 0px;">
                  <div class="item">
                    <p>
                      Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new
                      normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
                      User generated content in real-time will have multiple touchpoints for offshoring.
                    </p>
                  </div>
                </div>
                <div class="owl-item active" style="width: 573px; margin-right: 0px;">
                  <div class="item">
                    <p>
                      Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy
                      foster collaborative thinking to further the overall proposition. Organically grow the holistic world
                      view of disruptiveinnovationvia workplace diversity and empowerment.
                    </p>
                  </div>
                </div>
                <div class="owl-item" style="width: 573px; margin-right: 0px;">
                  <div class="item">
                    <p>
                      Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new
                      normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
                      User generated content in real-time will have multiple touchpoints for offshoring.
                    </p>
                  </div>
                </div>
                <div class="owl-item cloned" style="width: 573px; margin-right: 0px;">
                  <div class="item">
                    <p>
                      Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy
                      foster collaborative thinking to further the overall proposition. Organically grow the holistic world
                      view of disruptiveinnovationvia workplace diversity and empowerment.
                    </p>
                  </div>
                </div>
                <div class="owl-item cloned" style="width: 573px; margin-right: 0px;">
                  <div class="item">
                    <p>
                      Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new
                      normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
                      User generated content in real-time will have multiple touchpoints for offshoring.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-controls">
              <div class="owl-nav">
                <div class="owl-prev" style="display: none;">prev</div>
                <div class="owl-next" style="display: none;">next</div>
              </div>
              <div class="owl-dots" style="">
                <div class="owl-dot active"><span></span></div>
                <div class="owl-dot"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="vira-quote section bg-img">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img class="quote" src="/quote.png">
          <p>
            A user interface is like a joke. If you have to explain it, it’s not that good.
          </p>
          <p class="author">Martin leBlance, Iconfinder</p>
          <img src="/mouse.png">
        </div>
      </div>
    </div>
  </section>
  <section id="workstation" class="work section">
    <div class="container">
      <h2 class="title">Our workstations</h2>
      <div id="workstation-slider" class="owl-carousel owl-theme owl-loaded">







        <div class="owl-stage-outer">
          <div class="owl-stage" style="transform: translate3d(-1170px, 0px, 0px); transition: 0s; width: 5070px;">
            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/4.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative geeks</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/5.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative freaks</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/6.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative nerds</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/4.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative geeks</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/5.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative freaks</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 360px; margin-right: 30px;">
              <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="网站模板">网站模板</a></div>
            </div>
            <div class="owl-item" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/6.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative nerds</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/4.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative geeks</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/5.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative freaks</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/6.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative nerds</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/4.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative geeks</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
              <div class="item">
                <div class="vira-card">
                  <div class="vira-card-header">
                    <img class="img-responsive" src="/5.jpg">
                  </div>
                  <div class="vira-card-content">
                    <h3>Creative freaks</h3>
                    <p>
                      Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze
                      enige missiede
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
              <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="网站模板">网站模板</a></div>
            </div>
          </div>
        </div>
        <div class="owl-controls">
          <div class="owl-nav">
            <div class="owl-prev" style="display: none;">prev</div>
            <div class="owl-next" style="display: none;">next</div>
          </div>
          <div class="owl-dots" style="">
            <div class="owl-dot active"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="watch bg-img">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <span>Watch showreel</span>
          <a class="popup-youtube btn" href="https://www.youtube.com/watch?v=4KRHIbsl8BE"><span class="fa fa-play"></span></a>
          <span>with us</span>
        </div>
      </div>
    </div>
  </section>
  <section id="team" class="team section">
    <div class="container">
      <h2 class="title">Our team members</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="vira-card">
            <div class="vira-card-header">
              <img class="img-responsive" src="/8.jpg">
            </div>
            <div class="vira-card-content">
              <h3>Pink Floyd</h3>
              <p>
                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
              </p>
              <div class="social-icons">
                <ul>
                  <a href="#">
                    <li><span class="ion-social-facebook"></span></li>
                  </a>
                  <a href="#">
                    <li><span class="ion-social-twitter"></span></li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="vira-card">
            <div class="vira-card-header">
              <img class="img-responsive" src="/9.jpg">
            </div>
            <div class="vira-card-content">
              <h3>Eric Clapton</h3>
              <p>
                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
              </p>
              <div class="social-icons">
                <ul>
                  <a href="#">
                    <li><span class="ion-social-facebook"></span></li>
                  </a>
                  <a href="#">
                    <li><span class="ion-social-twitter"></span></li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="vira-card">
            <div class="vira-card-header">
              <img class="img-responsive" src="/10.jpg">
            </div>
            <div class="vira-card-content">
              <h3>Elton Jhon</h3>
              <p>
                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
              </p>
              <div class="social-icons">
                <ul>
                  <a href="#">
                    <li><span class="ion-social-facebook"></span></li>
                  </a>
                  <a href="#">
                    <li><span class="ion-social-twitter"></span></li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="subscribe section bg-img">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>Subscribe to our newsletter to get update</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" id="user-email" placeholder="Write your email here....">
            </div>
            <button type="submit" class="btn vira-btn">Send me</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="contact section">
    <div class="container">
      <h2 class="title">Drop us a line</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="vira-card">
            <div class="vira-card-header">
              <span class="fa fa-map-o" aria-hidden="true"></span>
            </div>
            <div class="vira-card-content">
              <h3>Address</h3>
              <p>
                Level 5, 25 pitt st, US
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="vira-card">
            <div class="vira-card-header">
              <span class="fa fa-phone" aria-hidden="true"></span>
            </div>
            <div class="vira-card-content">
              <h3>Phone</h3>
              <p>
                +555 211 3747
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="vira-card">
            <div class="vira-card-header">
              <span class="fa fa-paper-plane" aria-hidden="true"></span>
            </div>
            <div class="vira-card-content">
              <h3>Email</h3>
              <p>
                hey@themewagon.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="social-icons">
            <ul>
              <a href="#">
                <li><span class="ion-social-facebook"></span></li>
              </a>
              <a href="#">
                <li><span class="ion-social-twitter"></span></li>
              </a>
              <a href="#">
                <li><span class="ion-social-pinterest"></span></li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p> Handcrafted with <span class="fa fa-heart"></span> More Templates <a href="http://www.cssmoban.com/" target="_blank"
              title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
      </div>
    </div>
  </footer>
</div>