.colaApp.skin-red-light .main-header .navbar .sidebar-toggle {display: none;}
.colaApp.skin-red-light .inline {display: inline-block;}
.colaApp.skin-red-light a {cursor: pointer; color: red;}
.colaApp.skin-red-light .hidden {display: none;}
.colaApp.skin-red-light .table {font-size: 14px;}
.colaApp.skin-red-light oi-select .select-search {border-radius: 0;}
.colaApp.skin-red-light oi-select .select-dropdown {min-width: 0; overflow-x: auto;}
.colaApp.skin-red-light .invoice {margin: 0;}
.colaApp.skin-red-light .navbar-nav a .fa {line-height: 20px;}
.colaApp.skin-red-light .btn-group.pull-right {margin-top: -10px;}
.colaApp.skin-red-light .form-control.inline {display: inline-block; width: 60%; background-color: transparent;}
.colaApp.skin-red-light .form-control.inline.select {border: none; padding-left: 0; padding-right: 0; padding-top: 10px;}
.colaApp.skin-red-light .form-control .Select-menu-outer {margin-top: 10px;}
.colaApp.skin-red-light .sidebar-menu a {color: #000;}
.colaApp.skin-red-light .sidebar-menu a:hover {color: #FF0000;}
.colaApp.skin-red-light .sidebar-menu>li:hover>a, .skin-red-light .sidebar-menu>li.active>a {color: #FF0000;}
.colaApp.skin-red-light .sidebar-menu>li.active>a, .colaApp.skin-red-light .sidebar-menu>li:hover>a { background: #d9d9d9;}
/* .colaApp.skin-red-light .sidebar-menu .treeview-menu {display: block;} */
.colaApp.skin-red-light .sidebar-menu .treeview-menu>li>a {padding-left: 35px;}
.colaApp.skin-red-light .sidebar-menu .treeview-menu>li>a.active {color: #FF0000;}
.colaApp.skin-red-light .sidebar-menu .treeview-menu.menu-open {display: block;}
/*.colaApp.skin-red-light .sidebar-menu .fa {color: #FF0000;}*/
.colaApp.skin-red-light .modal-dialog.modal-sm {margin-top: 15%;}

.colaApp.skin-red-light .main-header .navbar .title {color: #fff; padding-top: 5px; padding-left: 5px; display: inline-block;}

/*.colaApp.skin-red-light .main-header {position: fixed; top: 0; width: 100%;}*/
.colaApp.skin-red-light .main-header .navbar .sidebar-toggle:before {display: none;}
.colaApp.skin-red-light .main-header .navbar .sidebar-toggle {padding-top: 15px;}
.colaApp.skin-red-light .main-header .navbar .sidebar-toggle.close-sidebar:before {display: none;}
/*.colaApp.skin-red-light .main-header .navbar-brand {color: #fff;}*/
.colaApp.skin-red-light .control-sidebar-menu>li>a {margin: 9px 10px;}
.colaApp.skin-red-light .sidebar-menu>li>a>.fa, .colaApp.skin-red-light .sidebar-menu>li>a>.glyphicon, .colaApp.skin-red-light .sidebar-menu>li>a>.ion {width: 30px;}

.colaApp.skin-red-light .content-wrapper, .colaApp.skin-red-light .right-side, .colaApp.skin-red-light .content.large {background-color: #f4f4f4; min-height: 100%;}
.colaApp.skin-red-light .bm-burger-button {background-color: transparent; z-index: 1031 !important; width: 78px; height: 50px; position: fixed; right: 0; top: 0;}
.colaApp.skin-red-light .bm-burger-button:hover {opacity: 0.1; background-color: #000;}
.colaApp.skin-red-light .control-sidebar {height: 100%;}
.colaApp.skin-red-light .breadcrumb {background-color: #fff;}

.colaApp.skin-red-light .content-wrapper .dataform {min-height: 100px;}
.colaApp.skin-red-light .content-wrapper .breadcrumb .fa {padding-right: 5px;}
.colaApp.skin-red-light .content-wrapper .box {box-shadow: 0 1px 1px #CCCCCC;}
.colaApp.skin-red-light .content-wrapper .arrow {height: 250px; font-size: 20px; padding-top: 100px;}
.colaApp.skin-red-light .content-wrapper .btn.btn-small {border: none; padding: 1px 5px;}
.colaApp.skin-red-light .content-wrapper .form-control.inline.number {width: 150px;}
.colaApp.skin-red-light .content-wrapper .pull-right.button {cursor: pointer;}
.colaApp.skin-red-light .content-wrapper .pull-right.button i{line-height: 20px;}
.colaApp.skin-red-light .content .nav-tabs-custom>.nav-tabs>li.active {border-top-color: #FF0000;}
/* .colaApp.skin-red-light .content .nav-tabs-custom>.nav-tabs>li>a {border-right-color: #f4f4f4;} */
.colaApp.skin-red-light .content .nav-tabs-custom>.nav-tabs>li.active>a, .colaApp.skin-red-light .content .nav-tabs-custom>.nav-tabs>li.active:hover>a {
	color: #FF0000;
	font-weight: bold;
}
.colaApp.skin-red-light .content .nav-tabs-custom>.nav-tabs>li.active>a:before {
	content: "\f0f4";
	padding-right: 3px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.colaApp.skin-red-light .content-wrapper oi-select .select-dropdown {width: 100%;}

/* colaDemo */
.colaApp.skin-red-light .colaDemo .table {font-size: 12px; font-weight: bold;}
.colaApp.skin-red-light .colaDemo .table-left {padding-right: 0;}
.colaApp.skin-red-light .colaDemo .table-right {padding-left: 0;}
.colaApp.skin-red-light .colaDemo .table>thead>tr>th {border-bottom: 0;}
.colaApp.skin-red-light .colaDemo .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding: 4px; border-top: 0;}
.colaApp.skin-red-light .colaDemo .title-yellow {background-color: #F8F9AE;}
.colaApp.skin-red-light .colaDemo .title-grey {background-color: #E8E8E8;}

@media (max-width: 991px) {
.colaApp.skin-red-light .content-wrapper .arrow {display: none;}
}
@media (max-width: 767px) {
.colaApp.skin-red-light .main-header .navbar .sidebar-toggle {display: block;}
.colaApp.skin-red-light .main-header .logo {display: none;}
.colaApp.skin-red-light.fixed .content-wrapper, .colaApp.skin-red-light.fixed .right-side {padding-top: 50px;}
/*.colaApp.skin-red-light .main-header .navbar .sidebar-toggle {display: block; color: #fff; position: absolute; top: -50px;}*/
.colaApp.skin-red-light .main-header .navbar .sidebar-toggle:hover {color: #fff !important;}
.colaApp.skin-red-light .bm-burger-button {width: 45px; height: 50px; top: 50px;}
.colaApp.skin-red-light .table-responsive {border: none;}
.colaApp.skin-red-light .groupchart {padding-top: 0 !important;}

}
