.header-art-bg {
	background-image: url(/blog/blog-art.jpg) !important;
}
.main-intro-box {
	display: table;
	padding-top: 220px;
	text-align: center;
	width: 100%;
	.intro {
		h1 {
            padding-top: 80px;
			padding-bottom: 50px;
		}
	}
}
.my-blog,
.home-title {
    .blog-art-title {
        padding: 30px;
        color: #575a5b;
        text-align: center;
        font-weight: 200;
        font-size: 30px;
        border-bottom: 1px solid #eee;
    }
    .art-intro-wrapper {
        background-color: #f7f7f7;
        box-shadow: 0px 1px #eee;
        padding: 0;
        cursor: pointer;
        margin-bottom: 50px;
        overflow: hidden;
        &:hover {
            box-shadow: 0 0 10px #ddd;
            .art-img-wrapper {
                img {
                    transform: scale(1.05);
                }
                .mask {
                    opacity: .4;
                }
                h3 {
                    opacity: .8;
                    &:after {
                    width: 50px;
                    margin-left: -25px;
                    }
                }
            }
        }
        a:hover .art-content-wrapper{
            background-color: #fcfcfc;
        }
        .art-img-wrapper{
            position: relative;
            height: 200px;
            overflow: hidden;
            img {
                transition: ease .5s;
                width: 100%;
                height: auto;
            }
            .mask {
                transition: ease .5s;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: #000;
                opacity: 0;
            }
            .title-tip {
                padding: 20px;
                transition: ease .5s;
                position: absolute;
                padding-bottom: 20px;
                width: 100%;
                text-align: center;
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                transition: ease .5s;
                color: #fff;
                font-size: 22px;
                opacity: 0;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 5px;
                    width: 0;
                    margin-left: 0;
                    left: 50%;
                    height: 3px;
                    background: #fff;
                    background: rgba(255, 255, 255, 0.5);
                    transition: all 200ms ease;
                    -webkit-transition: all 200ms ease;
                    -moz-transition: all 200ms ease;
                    -o-transition: all 200ms ease;
                    -ms-transition: all 200ms ease;
                }
            }
        }
        .art-content-wrapper {
            height: 260px;
            transition: all  ease .3s;
            -moz-transition: all  ease .3s;
            -webkit-transition: all  ease .3s;
            padding: 20px;
            text-align: left;
            h2 {
                height: 30px;
                line-height: 30px;
                padding-bottom: 35px;
                margin-bottom: 0;
                font-family: 'lovelo';
                font-size: 20px;
                font-weight: 700;
                border-bottom: 1px solid #eee;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            p {
                height: 120px;
                padding: 6px 0;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                word-break: break-all;
            }
            .artist-wrapper {
                padding-top: 10px;
                img {
                    position: absolute;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                span {
                    display: block;
                    padding-left: 60px;
                    line-height: 50px;
                    color: #666;
                    font-size: 25px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-style: italic;
                    font-family: 'BeauRivageOne';
                }
            }
        }
    }
}