.cookie-policy {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}
.cookie-article {
  width: 100%;
  padding: 10px;
  button {
    width: 150px;
    margin: 30px 10px;
  }
}
