@font-face {
	font-family: 'Tifanyhi';
	src: url('../fonts/Tifanyhi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'heather script two';
	src: url('../fonts/heather script two.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Signarita Zhai Rhianne';
	src: url('../fonts/Signarita Zhai Rhianne.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BeauRivageOne';
	src: url('../fonts/BeauRivageOne.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'lovelo';
	src: url('../fonts/lovelo.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}