@import './variables';

.home {
  .section-dark-bg {
    background-color: $section-dark;
  }
  h2, p {
    font-style: normal;
  }
  position: relative;
  .block-center {
    float: none;
    margin: 0 auto;
    .art-image {
      position: relative;
      overflow: hidden;
      .img-desc {
        position: absolute;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        h2 {
          transition: ease .5s;
          color: #fff;
          font-size: 22px;
          opacity: 0;
          &:after {
            content: "";
            position: absolute;
            bottom: 24px;
            width: 0;
            margin-left: 0;
            left: 50%;
            height: 2px;
            background: #fff;
            background: rgba(255, 255, 255, 0.5);
            transition: all 200ms ease;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
          }
        }
      }
      &:hover {
        .img-desc {
          h2 {
            opacity: 1;
            &:after {
              width: 50px;
              margin-left: -25px;
            }
          }
        }
        .mask {
          opacity: .4;
        }
        img {
          transform: scale(1.05);
        }
        .img-rt,
        .imt-lt {
          position: relative;
          overflow: hidden;
        }
        .img-lt {
          border-top-left-radius: 3%;
          border-bottom-right-radius: 3%;
        }
        .img-rt {
          border-top-left-radius: 40%;
          border-bottom-right-radius: 40%;
        }
      }
      img {
        width: 100%;
        transition: ease .5s;
      }
      .img-lt,
      .img-rt {
        position: relative;
        overflow: hidden;
      }
      .img-lt {
        transition: ease .5s;
        border-top-left-radius: 10%;
        border-bottom-right-radius: 10%;
      }
      .img-rt {
        transition: ease .5s;
        border-top-left-radius: 60%;
        border-bottom-right-radius: 60%;
      }
      .mask {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: #000;
        transition: ease .5s;
      }
      @media screen and (max-width: 786px) {
        padding-bottom: 30px;
      }
    }
    .no-padding-wrapper {
      &.col-sm-6 {
        padding: 0 0;
      }
      &:nth-of-type(1), &:nth-of-type(4) {
        .detail-box-wrapper {
          .detail-box-content {
            background-color: #efefef;
            transition: ease-in-out .3s;
            z-index: 999;
            &:hover {
              transform: scale(1.05);
              box-shadow: 0 0 10px #aaa;
              z-index: 1000;
            }
          }
        }
      }
    }
    .detail-box-wrapper {
      position: relative;
      &.right-box {
        background-color: #51c2b9;
      }
      &.left-box {
        background-color: #ffae79;
      }
      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      .detail-box-content {
        position: absolute;
        padding: 30px;
        height: 100%;
        h3,
        p {
          cursor: default;
        }
        h3 {
          text-align: center;
          margin-bottom: 25px;
        }
        
        p {
          overflow: hidden;
          max-height: 180px;
          @media screen and (max-width: $screen-lg) {
            max-height: 135x;
          }
          @media screen and (max-width: $screen-md) {
            max-height: 110px;
            & + a {
              display: none;
            }
          }
          @media screen and (max-width: 767px) {
            max-height: 250px;
            & + a {
              display: initial;
            }
          }
          @media screen and (max-width: $screen-xs) {
            max-height: 250px;
            & + a {
              display: initial;
            }
          }
          @media screen and (max-width: 460px) {
            max-height: 180px;
          }
          @media screen and (max-width: 390px) {
            max-height: 135px;
          }
          @media screen and (max-width: 340px) {
            max-height: 90px;
          }
        }
        .vira-btn {
          position: absolute;
          left: 50%;
          bottom: 10px;
          margin-left: -80px;
          padding: 10px 20px;
          color: #818181;
          border: #818181 solid 1px;
          &:hover {
            background-color: transparent;
            color: #51c2b9;
            border: #51c2b9 solid 1px; 
          }
        }
        &>i {
          font-size: 54px;
          color: #fff;
          margin-bottom: 10px;
          transition: .3s;
        }
        .line {
          display: block;
          width: 30%;
          height: 3px;
          background-color: #fff;
        }
        .line + h2,
        &>.color-desc {
          color: #fff;
          margin: 14px 0;
          cursor: default;
        }
        .fix-margin {
          margin-top: 28px;
        }
        @media screen and (max-width: $screen-md) {
          .line + h2,
          &>.color-desc {
            color: #fff;
            margin: 5px 0;
          }
          .fix-margin {
            margin: 8px;
          }
        }
        @media screen and (max-width: $screen-sm) {
          .line + h2,
          &>.color-desc {
            color: #fff;
            margin: 5px 0;
          }
          .fix-margin {
            margin-top: 12px;
          }
        }
        @media screen and (max-width: $screen-xs) {
          .line + h2,
          &>.color-desc {
            color: #fff;
            margin: 15px 0;
          }
          .fix-margin {
            margin-top: 25px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .padding-top-100 {
      padding-top: 100px !important;
    }
    .padding-bottom-100 {
      padding-bottom: 100px !important;
    }
    .padding-top-50 {
      padding-top: 50px !important;
    }
    .padding-bottom-50 {
      padding-bottom: 50px !important;
    }
    .line {
      position: absolute;
      width: 1px;
      background-color: #eee;
      height: 100%;
      &.line-1 {
        left: 16px;
      }
      &.line-2 {
        left: -12px;
      }
    }
    .section-header {
      &.header-in-right {
        padding-left: 30px;
      }
      &.header-in-left {
        padding-right: 30px;
      }
    }
  }
  .section-header {
    h2.section-title {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 600;
    }
    p {
      font-family: loveto;
      font-size: 15px;
      font-weight: 300;
      line-height: 25px;
      letter-spacing: .045em;
      color: #626262;
      word-break: break-all;
    }
  }
  .section-intro-title,
  .section-intro-desc {
    text-align: center;
  }
  .section-intro-title {
    background-color: #dbcfbb;
    h2,
    h2 + p {
      color: #fff;
    }
    h2 {
      margin: 0;
      padding: 4px 0;
      font-size: 42px;
      letter-spacing: 4px;
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 1px solid #fff;
    }
    h2 + p {
      display: block;
      margin: 0;
      padding: 30px 0 48px;
      font-size: 32px;
      letter-spacing: 6px;
    }
    @media screen and (max-width: $screen-md) {
      h2 {
        font-size: 30px;
      }
      h2 + p {
        font-size: 22px;
      }
    }
  }
  .section-intro-desc {
    background-color: #e2ddd9;
    position: relative;
    padding-top: 150px;
    padding-bottom: 100px;
      dl {
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: -38px;
        width: 78px;
        transform: translateX(-50%);
        width: 76px;
        overflow: hidden;
        margin-bottom: 15px;
        dt {
          img {
            width: 76px;
            height: 76px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 15px;
          }
        }
        dd {
          font-size: 14px;
          line-height: 25px;
        }
        dd:nth-of-type(1) {
          font-weight: 400;
          color: #818181;
        }
        dd:nth-of-type(2) {
          color: #818181;
        }
      }
      .desc-wrap {
        position: relative;
        width: 70%;
        margin: 0 auto;
        i, p {
          color: #818181;
        }
        i {
          position: absolute;
          font-size: 40px;
          &.fa-chevron-left {
            top: 0;
            left: 0;
            margin-top: -28px;
          }
          &.fa-chevron-right {
            bottom: 0;
            right: 0;
            margin-bottom: -28px;
            margin-right: 20px;
          }
        }
        @media screen and (max-width: $screen-lg) {
          i {
            display: none;
          }
        }
        p {
          line-height: 30px;
          font-size: 14px;
          font-weight: 400;
        }
        @media screen and (max-width: $screen-sm) {
          p {
            padding-top: 50px;
          }
        }
      }
  }
  .section-owl-wrap {
    position: relative;
    background-image: url(/home/carousel-wrap-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(16, 16, 16, 0.3);
    }
    .carousel {
      .carousel-control {
        opacity: 0;
        transition: ease .3s;
        &.left {
          transform: translateX(-50px)
        }
        &.right {
          transform: translateX(50px)
        }
      }
      &:hover {
        .carousel-control {
          opacity: .6;
          &.left,
          &.right {
            transform: translateX(0)
          }
        }
      }
      padding-bottom: 30px;
      .carousel-control.left,
      .carousel-control.right {
        background-image: none !important;
      }
      .item {
        padding-top: 20px;
        header {
          position: relative;
          i {
            transition: ease .3s;
            font-size: 24px;
            position: absolute;
          }
          i.fa-quote-left {
            top: 0;
            left:0;
          }
          i.fa-quote-right {
            bottom: 0;
            right: 0;
          }
          p.desc {
            padding: 20px;
          }
        }
        h6 {
          padding: 10px;
        }
        p,
        h6,
        i {
          text-align: center;
          color: #ddd;
        }
        h6 {
          margin: 0;
          margin-top: 18px;
        }
        img {
          display: block;
          width: 64px;
          height: 64px;
          margin: 0 auto;
          border-radius: 50%;
        }
      }
      .active.left, 
      .active.right {
        i {
          opacity: 0;
        }
      }
    }
  }
}