// page score overall
.scoreOverall {
	.score-block {
		padding-top: 20px;
		.btn {min-width: 80%; cursor: default; font-size: 18px; color: #000;}
	}	
	.groupchart {
		padding-top: 30px;
		overflow-x: hidden;
		.border-red {min-height: 530px;}
		.title {color: #fe0000;}
		.subChart {
			height: 230px;
			.titleName {font-size: 14px; padding-left: 5%;}
			.row {margin: 0; padding: 5%;}
			.change {font-size: 12px; padding: 3px; border: 1px solid grey; display: block; position: relative; float: left;}
		}
	}	
}
// page top & bottom 5
.topBottom5 {
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {border-top: 0; vertical-align: middle;}
	table {border-collapse: separate;}
	.table {
		tbody>tr>td {padding: 1px;}
		.bg-yellow-with-border {background-color: #ffffcc; border: 1px solid #d6d2d2; border-top: 1px solid #d6d2d2;}
		.bg-yellow-without-border {background-color: #ffffcc;}
		.border-all {border: 1px solid #d6d2d2;}
		.border-right {border-right: 1px solid #d6d2d2;}
		.border-left {border-left: 1px solid #d6d2d2;}
		.border-top {border-top: 1px solid #d6d2d2;}
		.border-bottom {border-bottom: 1px solid #d6d2d2;}	
		.font-sm {font-size: 12px;}	
	}		
}
.unforgivables6 {
	// .groupchart {height: 490px;}
	.chart {
		// height: 400px;
		padding-right: 0;
		// padding: 10px 10%;
		.highchart-size {height: 350px;}
		.colorfulChart {min-width: 800px;}
	}
	.colorfulChart.chart {padding-top: 0;}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {border-top: 0; vertical-align: middle; padding: 4px;}
	.table {
		font-size: 14px; border: 0;
	}
	.tableWithLineChart {margin-top: 150px; justify-content: center;}
	@media (max-width: 767px) {
		.tableWithLineChart {margin-top: 0;}
	}
}
.ruralONS {
	.colorfulChart.chart {padding-top: 0;}
	.subtitle {position: relative; font-size: 16px; margin: 0 auto; line-height: 2; width: 350px;}
	.avgBlock {
		border: 1px solid grey;
		border-radius: 8px;		
		padding: 5px;
		background-color: #fff;		
		font-size: 28px;
		font-weight: bold;
	}
	.chart .colorfulChart {min-width: 800px;}
}
.opportunity {
	.table {
		font-size: 13px;
		overflow: auto;
		thead>tr>th {vertical-align: top;}
		tbody>tr>td, tbody>tr>th {padding: 3px 5px; border-top: 0;}
		tr {font-family:  "Calibri", 'PingFang SC',Hiragino Sans GB,'helvetica neue',tahoma,'microsoft yahei','wenquanyi micro hei',sans-serif;}
		.level1 {font-weight: bold; cursor: pointer;}
		.level2 {padding-left: 15px; font-weight: bold;}
		.level3 {padding-left: 30px;}
		.level4 {padding-left: 40px; color: #525252;}
		.table-title-bg {background-color: $gt-color; color: #fff; font-size: 16px;}
	}
}
.kmeans {
	.chart-wrapper-center {
		width: 50%;
		margin: auto;
		.groupchart {
			overflow-x: hidden;
		}
	}
}