.login-box {
  .error {
    color: #ff0000;
    font-weight: bold;
  }
  .modify-password {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 1px;
    font-size: 12px;
    text-align: right;
    a {
      color: #888;
      &[ui-sref="changePassword"]:before {
        position: relative;
        bottom: 1px;
        padding-right: 6px;
        content:'|';
        color: #aaa;
      }
      &:hover {
        color: #aaa;
      }
    }
  }
}
/* modify password in login page*/
.login-modify {
  .modal-title {
    i {
      padding-right: 5px;
    }
  }
}

