.music-box-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
    color: #333;
    font-size: 14px;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(148, 120, 94);
    z-index: 9999;
    .music-box {
        font-family: Raleway,sans-serif;
        position: relative;
        margin: 0 7.638889%;
        height: 100%;
        color: #bdbdbe;
        color: rgba(225,225,225,.8);
        z-index: 3;
        .music-box-content {
            position: absolute;
            top: 11%;
            bottom: 22%;
            width: 100%;
            min-height: 330px;
            .music-box-normal {
                margin-right: 30%;
                @media screen and(max-width: 767px) {
                    margin-right: 0;
                }
                .music-box-toolbar {
                    position: relative;
                    margin-left: 1px;
                    margin-bottom: 20px;
                    text-align: left;
                    font-size: 0;
                    .tool-btn {
                        margin-right: 6px;
                        padding: 0 23px;
                        display: inline-block;
                        height: 38px;
                        color: #fff;
                        opacity: .8;
                        filter: alpha(opacity=80);
                        background-color: transparent;
                        text-align: center;
                        font-size: 14px;
                        line-height: 38px;
                        white-space: nowrap;
                        transition: none;
                        border: solid 1px rgba(255,255,255,.2);
                        border-radius: 2px;
                        overflow: hidden;
                        box-sizing: content-box;
                        &:hover, &:focus {
                            text-decoration: none;
                        }
                        &:hover {
                            opacity: 1;
                            filter: none;
                            border-color: rgba(255,255,255,1);
                        }
                        & .fa {
                            font-size: 16x;
                            margin-right: 4px;
                        }
                    }
                    @media screen and(max-width: 767px) {
                        display: none;
                    }
                }
                .main-menu-wrapper {
                    position: relative;
                    overflow: hidden;
                    .main-menu-content {
                        height: 450px;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        .menu-table {
                            text-align: left;
                            tr {
                                font-family: -webkit-body,Tahoma;
                                border-bottom: 1px solid rgba(255, 255, 255, .02);
                                &.current-song {
                                    color: #fff;
                                    span.inner-index {
                                        text-indent: 9990px;
                                        background-image: url('/music/wave.gif');
                                        background-repeat: no-repeat;
                                        background-position: 10px 5px;
                                    }
                                }
                                &.current-pause {
                                    span.inner-index {
                                        text-indent: 0 !important;
                                        background-image: none !important;
                                    }
                                }
                                &:hover .inner-tool-wrapper,
                                &:hover .inner-delete {
                                    display: block !important;
                                }
                                @media screen and(max-width: 767px) {
                                    &:hover .inner-tool-wrapper,
                                    &:hover .inner-delete {
                                        display: none !important;
                                    }
                                }
                                &:hover .inner-time {
                                    display: none;
                                }
                                td, th {
                                    position: relative;
                                    padding: 15px 0;
                                    padding-left: 35px;
                                    font-weight: 400;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    &:first-child {
                                        padding-right: 5%;
                                        width: 70%;
                                        .inner-tool-wrapper {
                                            display: none;
                                            position: absolute;
                                            top: 7px;
                                            right: 0;
                                            .inner-tool-btn {
                                                display: inline-block;
                                                margin-right: 5px;
                                                width: 36px;
                                                height: 36px;
                                                background-image: url('/music/music-icon-list.png');
                                                &.inner-play {
                                                    background-position: -80px 0;
                                                    &:hover {
                                                        background-position: -120px 0;
                                                    }
                                                }
                                                &.inner-pause {
                                                    background-position: -80px -200px;
                                                    &:hover {
                                                        background-position: -120px -200px;
                                                    }
                                                }
                                                &.inner-add {
                                                    background-position: -80px -80px;
                                                    &:hover {
                                                        background-position: -120px -80px;
                                                    }
                                                }
                                                &.inner-download {
                                                    background-position: -80px -40px;
                                                    &:hover {
                                                        background-position: -120px -40px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:nth-child(2), &:nth-child(3) {
                                        width: 27%;
                                    }
                                    &:nth-child(3) {
                                        padding-right: 100px;
                                    }
                                    .inner-index {
                                        position: absolute;
                                        left: 0;
                                        width: 20px;
                                        max-width: 100px;
                                        text-align: right;
                                    }
                                    span.inner-time {
                                        display: inline-block;
                                    }
                                    i.inner-delete {
                                        display: none;
                                        position: absolute;
                                        top: 7px;
                                        left: 34px;
                                        width: 36px;
                                        height: 36px;
                                        background-image: url('/music/music-icon-list.png');
                                        background-position: -80px -160px;
                                        &:hover {
                                            background-position: -120px -160px;
                                        }
                                    }
                                }
                            }
                            @media screen and(max-width: 767px) {
                                tr {
                                    th:nth-child(3),
                                    td:nth-child(3) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .song-info {
                    
                }
            }
        }
        .music-box-control {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 11%;
            a.btn-control {
                position: absolute;
                top: 0;
                width: 20px;
                height: 20px;
                background-image: url('/music/music-icon-control.png');
                background-repeat: no-repeat;
                opacity: .8;
                filter: alpha(opacity=80);
                transition: none;
                &:hover {
                    opacity: 1;
                    filter: none
                }
                &.btn-prev {
                    top: 4px;
                    left: 0;
                    background-position: 0 -30px;
                }
                &.btn-pause, &.btn-play {
                    left: 7%;
                    height: 30px;
                    background-position: -30px 0;
                }
                &.btn-pause {
                    background-position: -30px 0;
                }
                &.btn-play {
                    background-position: 0 0;
                }
                &.btn-next {
                    top: 4px;
                    left: 13.5%;
                    background-position: 0 -52px;
                }
                @media screen and(max-width: 767px) {
                    &.btn-prev {
                        left: 20%;
                    }
                    &.btn-pause, &.btn-play {
                        left: 48%;
                    }
                    &.btn-next {
                        right:20%;
                        left: initial;
                    }

                }
                span.control-item {
                    font: 0 / 0 a;
                }
            }
            .music-process-wrapper {
                font-family: -webkit-body, Tahoma;
                position: relative;
                margin: 0 30% 0 20%;
                .music-info {
                    text-align: left;
                    padding-right: 120px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .music-time{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .music-process {
                    position: relative;
                    padding-top: 6px;
                    height: 8px;
                    cursor: pointer;
                    .process-bg {
                        width: 100%;
                        height: 2.5px;
                        background-color: rgba(255, 255, 255, .1);
                    }
                    .process-play {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 2.5px;
                        background-color: rgba(255, 255, 255, .7);
                        &:after {
                            content: "";
                            position: absolute;
                            top: -5px;
                            right: -8px;
                            width: 12px;
                            height: 12px;
                            background-image:  url('/music/music-icon-control.png'); 
                            background-position: 0 -169px;
                        }
                    }

                }
                @media screen and(max-width: 767px) {
                    margin: 0;
                    bottom: 80%;
                }
            }
        }
    }
    .music-box-mask, .music-box-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .music-box-mask {
        background-color: #292a2b;
        background-color: rgba(0,0,0,.35);
        z-index: 2;
    }
    .music-box-bg {
        background-image: url("/music/music-box-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        -webkit-filter: blur(65px);
        filter: blur(65px);
        // opacity: .6;
    }
}

// style for scrollbar
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

::-webkit-scrollbar-track {
    background: 0 0
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666
}

::-webkit-scrollbar-corner {
    background-color: #535353
}

::-webkit-scrollbar-resizer {
    background-color: #FF6E00
}

.main-menu-content::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.1)
}

.main-menu-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.3)
}