.header-music-bg {
	background-image: url(/music/music-bg.jpg) !important;
}

.my-music {
	.blog-music-title {
			padding: 3rem;
			color: #575a5b;
			text-align: center;
			font-weight: 200;
			font-size: 3rem;
			border-bottom: 1px solid #eee;
	}
	.music-content-bg {
		background: url(/music/music-content-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		.music-inner {
			position: relative;
			height:  100%;
			padding-bottom: 10rem;
			margin: 0 auto;
			.music-inner-title {
				position: relative;
				margin: 0 auto;
				width: 49rem;
				height: 13rem;
				line-height: 13rem;
				h2 {
					text-align: center;
					line-height: 13rem;
					color: #ccc;
				}
				.music-inner-line{
					display: block;
					margin-top: 6.5rem;
					background-color: #ccc;
					height: .1rem;
				}
			}
			@media screen and (max-width: 768px) {
				.music-inner-title {
					width: 32rem;
					h2 {
						font-size: 2.2rem !important;
					}
				}
			}
			.music-list-wrapper {
				ul.music-list {
					list-style: none;
					margin-bottom: 0;
					padding: 0;
					.music-list-item {
						height: 56rem;
						position: relative;
						overflow: hidden;
						&:hover .music-content .music-item-bg {
							transition: transform .75s cubic-bezier(0,1,.75,1);
							-webkit-transition: -webkit-transform .75s cubic-bezier(0,1,.75,1);
							transform: scale(1.06);
							-moz-transform: scale(1.06);
							-webkit-tranform: scale(1.06);
						}
						&:hover .music-content .music-item-mask {
							filter: alpha(opacity=20);
							opacity: .2;
						}
						&:hover .music-content .music-play-icon {
							filter: alpha(opacity=90);
							opacity: .9;
							-webkit-transform: scale(1);
							-webkit-transition-property: opacity,-webkit-transform;
							-webkit-transition-duration: .5s;
							transform: scale(1);
							transition-property: opacity,transform;
							transition-duration: .5s;
							cursor: pointer;
						}
						&:hover .music-content .music-line {
							display: none;
						}
						.music-content {
							bottom: 2rem;
							.music-item-bg {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 56rem;
								background-image: url(/music/music-item-bg.jpg);
								transition: transform .75s;
								-moz-transition: transform .75s; /* Firefox 4 */
								-webkit-transition: transform .75s; /* Safari and Chrome */
							}
							
							.bg-position2 {
								background-position-x: 33.33%
							}
							.bg-position3 {
								background-position-x: 66.66%;
							}
							.bg-position4 {
								background-position-x: 100%;
							}
							
							.music-item-mask {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background-color: #000;
								filter: alpha(opacity=0);
								opacity: 0;
								transition: opacity .5s;
								-moz-transition: opacity .5s; /* Firefox 4 */
								-webkit-transition: opacity .5s; /* Safari and Chrome */
							}
							.music-play-icon {
								position: absolute;
								left: 50%;
								top: 20rem;
								margin: -3.5rem;
								width: 7rem;
								height: 7rem;
								filter: alpha(opacity=0);
								opacity: 0;
								-webkit-transform: scale(.7);
								-webkit-transition-property: opacity,-webkit-transform;
								-webkit-transition-duration: .5s;
								transform: scale(.7);
								transition-property: opacity,transform;
								transition-duration: .5s;
								zoom: 1;
								background-image: url(/music/music-play-icon.png);
							}
							.music-line {
								position: absolute;
								left: 50%;
								top: 20rem;
								margin-left: -3rem;
								width: 6rem;
								height: .1rem;
								background: rgba(255,255,255,.3)
							}
							.music-item-header {
								position: absolute;
								top: 6rem;
								left: 50%;
								margin-left: -10rem;
								width: 20rem;
								height: 11rem;
								text-align: center;
								a {
									cursor: pointer;
								}
								a:hover, a:focus{
									text-decoration: none !important;
								}
								h4, h3 {
									color: #fff;
								}
								h4 {
									margin-bottom: 1rem;
									font-weight: 200;
									font-size: 2.4rem;
								}
								h3 {
									font-weight: 400;
									font-size: 3.6rem;
								}
							}
							.song-list {
								position: absolute;
								top: 28rem;
								left: 50%;
								margin-left: -9rem;
								padding-left: 0;
								width: 20rem;
								white-space: nowrap;
								.song-item {
									position: relative;
									padding-left: 1.8rem;
									margin-bottom: 1rem;
									text-align: left;
									cursor: pointer;
									.song-number {
										position: absolute;
										left: 0;
										top: 0;
										line-height: 3rem;
										color: #fff;
										font-size: 1.6rem;
										font-family: -webkit-body, Tahoma;
									}
									a.song-info {
										display: block;
										&:hover {
											text-decoration: none !important;
										}
										h4, h5 {
											color: #fff;
											font-weight: 400;
											overflow: hidden;
											white-space: nowrap;
											text-overflow: ellipsis;
										}
										h4 {
											margin-bottom: 0;
											line-height: 3rem;
											font-size: 1.6rem;
										}
										h5 {
											margin-bottom: 0;
											font-size: 1.3rem;
											filter: alpha(opacity=50);
											opacity: .5;
										}
									}
								}
							}

						}
						@media screen and (max-width: 992px) {
							.music-content {
								position: relative;
								overflow: hidden;
								height: 56rem;
								.music-item-bg {
									background-size: 400%;
								}
							}
						}

					}
				}
			}
		}
	}
}