.news-container {
	padding: 60px 10%;
	font-color: #999999;
	font-size: 16px;
	img {
		margin: 10px;
	}
	.news-title {
		font-color: #333333;
		font-size: 28px;
		text-align: center;
	}
	.sub-head{
		padding: 20px 0;
		text-align: center;
	}
	.download {
		padding-bottom: 20px;
		&>a {
			&:hover {
				color: #ff4747;
			}
			&>i {
				&>strong {
					display: inline-block;
					padding-top: 1px;
				}
			}
		}
	}
	p {
		line-height: 130%
	}
	article{
		.lead-bold {
			font-weight: 600;
		}
		ul li {
			list-style: disc;
		}
		ol {
			padding-left: 50px !important;
			li {
				list-style-type: decimal;
			}
		}
		ol, ul {
			padding: 10px 40px;
			li {
				line-height: 3rem;
			}
		}
		.tail {
			padding-bottom: 20px;
		}
		.summary{
		padding-left: 50px;
		}
		.pictures{
			li {
				list-style: none !important;
			}
		img{
			width: 100%;
			padding-bottom:10px;
		}

		}
	}
}
@media screen and (max-width: 767px){
	.news-container {
	padding: 65px 10%;
	font-color: #999999;
	font-size: 10px;
	img {
		margin: 10px;
	}
	.news-title {
		font-color: #333333;
		font-size: 16px;
		text-align: center;
	}
	.sub-head{
		padding: 20px 0;
		text-align: center;
		font-size: 2px;
	}
	p {
		line-height: 1.5em;
	}
	article{
		.lead-bold {
			font-weight: 600;
		}
		ul li {
			list-style: disc;
		}
		ol {
			padding-left: 50px !important;
			li {
				list-style-type: decimal;
			}
		}
		ol, ul {
			padding: 10px 40px;
			li {
				line-height: 3rem;
			}
		}
		.tail {
			padding-bottom: 20px;
		}
		.summary{
		padding-left: 50px;
		}
		.pictures{
			li {
				list-style: none !important;
			}
		img{
			width: 100%;
			padding-bottom:10px;
		}

		}

	}
}
}

.page-footer {
	font-color: #fff;
	background: #333333;
	margin-top: 30px;
	line-height: 200%;
	.pagefooter-top{
		overflow: hidden;
		ul {
			float:left;
			width: 200px;
			margin-left: 50px;
			h4{
				font-size: 16px;
				color: #d9d9d9;
			}
			a {
				font-size: 14px;
				color: #777;
			}
		}
	}
	.copy-right{
		text-align: center;
		font-size: 18px;
		background: #000;
		line-height: 150%;
		span{
			text-align: center;
			color: #a6a6a6;
		}
		a {
			color: #a6a6a6;
			font-size: 14px;
		}
	}
}
